.menu {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.seccion-nav{
    max-height: 80px;
    align-items: center;
    color: white;
    font-size: 19px;
    text-decoration: none;
    z-index: 1;
}

.seccion-nav:hover{
	color: #FF00BF;
}

.flex-container {
    display: flex;
}

.text-uppercase {
  text-transform: uppercase;
}


/* REGISTRO */

.registro-container{
	width: 100%;
	max-width: 1400px;
	height: 100%;
}