*{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* NAV BAR */

#nav-bar {
	background-color: rgba(#76278f , 255, 255, 0.5);
	width: 100%;
	justify-content: flex-start;
}

.logo-container{
    margin-left: auto;
    margin-right: 20px;
}

#logo-white{
    width: 15%;
    max-height: 80px;
	padding: 15px;
	margin-left: 82px;
}

#secciones{
	width: 63%;
    height: 80px;
    display: flex;
    align-items: center;
	justify-content: space-around;
    margin-right: 170px;
	font-weight: 200;
}

#secciones button{
    width: 18%;
    height: 37px;
    border-radius: 4px;
    border: solid #ffffff 3px;
    background-color: Transparent;
    color: white;
    font-size: 17px;
	font-weight: 200;
}

#secciones button:hover{
	color: #FF00BF;
	cursor: pointer;
}

/* NAV DOS */
.navDos {
	background: #fff;
	width: 100%;
	justify-content: flex-start;
}


#logo-pink{
    width: 13%;
    max-height: 80px;
    padding: 15px;
    margin-left: 82px; 
}


#seccionesDos{
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 170px;
    font-weight: 200;
}

.login{
    width: 18%;
    height: 37px;
    border-radius: 4px;
    border: solid gray 1px;
    background-color: Transparent;
    color: gray;
    font-size: 17px;
    font-weight: 200;
}

.btndos #btndos{
    width: 131%;
    height: 37px;
    border-radius: 4px;
    border: solid #FF00BF 1px;
    background-color: Transparent;
    color: #FF00BF;
    font-size: 17px;
    font-weight: 200;
}



/* REGISTRO */
#video{
	width: 100%;
    height: 100%;
	z-index: -1;
}
#registro{
    width: 40%;
    height: 384px;
    margin-left: -40%;
    margin-top: 105px;
    background-color: white;
    justify-content: flex-end;
}

#registro h1{
    color: #352384;
    margin-top: 50px;
    margin-left: 10%;
    font-size: 40px;
    font-weight: 900;
}
#registro h2{
    color: #352384;
    margin-top: -5px;
    margin-left: 10%;
    font-size: 40px;
    font-weight: 900;
}

#registro #signup{
	margin-left: 10%;
    font-size: 17px;
    font-weight: 200;
    color: #352384;
}
#registro input{
    margin-left: 51px;
    margin-top: 35px;
    font-size: 18px;
    color: rgba(0,0,0,0.3);
    border: none;
    width: 80%;
}

#registro hr{
	margin-left: 10%;
    width: 77%;
    color: rgba(0,0,0,0.5);
}

#registro button{
    margin-left: 10%;
    margin-top: 16px;
    width: 195px;
    height: 43px;
    border-radius: 9px;
    background-color: #FF00BF;
    color: white;
    box-shadow: none;
    border: none;
    font-size: 16px;
}

#registro a{
    margin-left: 2%;
    font-size: 17px;
    color: gray;
    font-weight: 300;
}

.bajada{
	margin-top: 26px;
}

.bajada p{
	margin-top:5px;
}
/* INFORMACION */

#informacion{
	    margin-left: 85px;
}

.informacion{
	background: linear-gradient(#76278f,#2B1E66);
	width: 100%;
    height: 646px;
}

.phone img{
    height: 76%;
    margin-top: 73px;
    margin-left: 34%;
}

/* VIDEOS */
.video3{
	width: 100%;
	height:390px;
}

.june{
    width: 66%;
}

.june p{
    margin-left: 8%;
    margin-top: 50px;
    width: 66%;
    font-size: 15px;
    font-weight: 300;
}

.june h2{
	margin-left: 8%;
    margin-top: 50px;
}
.june h5{
    margin-left: 8%;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 300;
}

.video3 iframe{
	width: 100%;
    height: 390px;

}


/* FOOTER */
footer{
	width: 100%;
	height: 600px;
	background-color: #333447;
}

.footer-section h3{
	color: #bfc7d9;
	margin-bottom: 23px;
    font-size: 24px;
    font-weight: 300;
}

.footer-section ul {
	list-style-type: none;
}

.footer-section ul li{
	margin-top: 10px;
}
.footer-section a{
	text-decoration: none;
    color: #f3f3f5;
}

.footer-section a:hover{
	color:#FF00BF;
}

.footer-section img{
    width: 108%;
    margin-left: 254px;
    margin-top: 10px;
}

.footer-section img:hover{
	cursor: pointer;
}

.social-media{
    width: 50%;
    height: 0px;
    margin-top: 301px;
    margin-left: -574px;
    align-self: center;
    text-align: center;
    color: #f3f3f5;
}

.social-media img{
    width: 12%;
    align-items: center;
}

.social-media p{
	margin-top: 14px;
}